<%=require('../_partial/head.ejs')({title: '关于我们'})%>

<%=require('../_partial/head.ejs')({
    pagetype: 'detail',
    title: '详情页'
})%>

<%=require('../_partial/nav.ejs')({
    pagetype: 'detail'
})%>

<%=require('../_partial/search.ejs')({
    pagetype: 'detail'
})%>

<%=require('../_partial/header.ejs')({
    pagetype: 'detail'
})%>

<div class="fedlab-main">
    <div class="fedlab-main-inner fedlab-container">
        <div class="fedlab-about">

        </div>
    </div>
</div>

<%=require('../_partial/footer.ejs')({
    pagetype: 'detail'
})%>